<!DOCTYPE html>
<html>

<head>
    <title>info stage</title>
</head>

<body>
    <p>Register page </p>
  
    <form action="/register" method="get">
        <p> Prenom : <input type="text" name="firstname" required></input></p>
        <p> Nom : <input type="text" name="lastname" required></input></p>
        <p> Email : <input type="email" name="email" required></input></p>
        <p> Mot de passe : <input type="password" name="password" required></input></p>
        <p> Admin : 
            <input type="radio" name="admin" value = True required>Oui</input></p>
            <input type="radio" name="admin" value = False >Non</input></p>
        </p>
        <p><input type="submit" value="envoyez "></input></p>
    </form>
</body>

</html>